.tarea {
    padding: 5px;
    margin: 5px;
    color: aliceblue;
    background-color: steelblue;
    border-radius: 5px;
}

.tarea p {
    background-color: aliceblue;
    color: steelblue;
    padding: 10px;
    border-radius: 10px;
}